@CHARSET "UTF-8";

/* ----- proprietes body ----- */
body { 
	width: 100%;
	height: 100%;
	margin: 0em;
	background-color: #FFFFFF;
}

.mainDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	border-style: none;
	background-color: #FFFFFF; 
}
	
.topDiv {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 25px;
	border-width: 1px 1px 1px 1px;
	border-color: #666666;
	border-style: solid;
	background-color: #CCCCCC; 
}

.sideDiv {
	position: absolute;
	top: 35px;
	left: 5px;
	width: 140px;
	border-width: 1px 1px 1px 1px;
	border-color: #666666;
	border-style: solid;
	background-color: #EEEEEE; 
}

.pageDiv {
	position: absolute;
	top: 35px;
	left: 150px;
	border-width: 1px 1px 1px 1px;
	border-color: #666666;
	border-style: solid;
	background-color: #FFFFFF; 
}